<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
       	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
       	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  "
       default-autowire="byName">

    <bean id="adminDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${mysql.db.driver}"/>
        <property name="jdbcUrl" value="${mysql.db.url}"/>
        <property name="user" value="${mysql.db.username}"/>
        <property name="password" value="${mysql.db.password}"/>
        <property name="minPoolSize" value="5"/>
        <property name="maxPoolSize" value="20"/>
        <property name="initialPoolSize" value="5"/>
        <property name="maxIdleTime" value="60"/>
        <property name="acquireIncrement" value="5"/>
        <property name="maxStatements" value="0"/>
        <property name="preferredTestQuery" value="select * from dual"/>
        <property name="idleConnectionTestPeriod" value="1800"/>
        <property name="acquireRetryAttempts" value="30"/>
        <property name="breakAfterAcquireFailure" value="false"/>
        <property name="testConnectionOnCheckout" value="false"/>
    </bean>

	<bean id="adminSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="adminDataSource" />
        <property name="configLocation" value="classpath:mybatis/mybatis-admin-config.xml"/>
    </bean>

    <bean id="adminMapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="sqlSessionFactoryBeanName"  value="adminSessionFactory"/> 
        <property name="basePackage" value="com.ruobilin.mall.admin.mapper"></property>  
    </bean>
    
    <bean id="adminTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="adminDataSource" />  
        <qualifier value="admin"/>  
    </bean>     
  
    <tx:annotation-driven transaction-manager="adminTransactionManager" />
    
    <context:component-scan base-package="com.ruobilin.mall.admin.service" />
</beans>