<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruobilin.mall.mapper.CartProductPropertyMapper"> 
    <insert id="insertCartProductProperty" keyProperty="id" useGeneratedKeys="true" parameterType="com.ruobilin.mall.entity.CartProductProperty">
    	<selectKey resultType="String" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
    	insert into cartproductproperty(propertyId,cartProductId)
    	values
    	<foreach collection="list" item="productProperty"  index="index" separator=",">
    		(#{productProperty.propertyId},#{productProperty.cartProductId})
    	</foreach>
    </insert>
    
    <select id="queryCartProductProperty" parameterType="String" resultType="com.ruobilin.mall.entity.CartProductProperty">
    	select * from cartProductProperty
    	where cartProductId=#{cartProductId}
    </select>
    
    <select id="queryCartProductPropertyId" parameterType="String" resultType="String">
    	select propertyId from cartProductProperty
    	where cartProductId=#{cartProductId}
    </select>
</mapper>