<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruobilin.mall.mapper.ProductImageMapper">
    <select id="findByProductId" resultType="ProductImage" parameterType="java.lang.Long">
        select *
		from productImage 
		where productId=#{value} 
		order by id
    </select>
    <insert id="insert" parameterType="ProductImage">
        insert into productImage(productId,imageUrl,smallUrl,type) 
		values(#{productId},#{imageUrl},#{smallUrl},#{type})
    </insert>
    <delete id="deleteByProductId" parameterType="java.lang.Long">
    	delete from productImage where productId=#{value} 
    </delete>
</mapper>