##Test global method of velocity
#macro (showMessage $name)
    Now I am a good coder: $name
#end

## Display all queued Struts errors
#macro (errorMarkup)
    #if ($errors.exist() )
        <ol style="color:red">
            #foreach ($e in $errors.all )
                <li style="list-style-type:disc">$e</li>
            #end
        </ol>
    #end
#end

#macro (errorMarkupWithoutStyle)
    #if ($errors.exist())
        #foreach ($e in $errors.all )
            $e
        #end
    #end
#end

## Display all queued Struts errors for a particular property
#macro (errorForProperty $property)
    #if ($errors.exist($property) )
        #foreach ($er in $errors.get($property))
        <br />
           $er
        #end
    #end
#end

#macro (errorForPropertyno $property)
    #if ($errors.exist($property) )
        #foreach ($er in $errors.get($property))
           $er
        #end
    #end
#end

## Display all queued Struts errors for a particular property
#macro (errorMarkupForProperty $property)
    #if ($errors.exist($property) )
        <ol style="color:red">
        #foreach ($er in $errors.get($property))
           <li style="list-style-type:disc">$er</li>
        #end
        </ol>
    #end
#end

## Display all queued Struts errors for a particular property
#macro (proerrorMarkupForProperty $property)
    #if ($errors.exist($property) )
        <dd>&nbsp;</dd><dt>
        #foreach ($er in $errors.get($property))
           <span style="color:red">$er</span>
        #end
</dt>
    #end
#end

## Display all queued Struts errors
#macro (messageMarkup)
    #if ($messages.exist() )
        <ol style="color:red">
        #foreach ($m in $messages.all )
            <li style="list-style-type:disc">$m</li>
        #end
        </ol>
    #end
#end

## Display all queued Struts action messages for a particular property
#macro (messageMarkupForProperty $property)
    #if($messages.exist($property))
        #foreach ($m in $messages.get($property))
            $m
        #end
    #end
#end


## Custom pagebar
#macro(pagebar $pageInfo $url)
   <script language="javascript">
        function page_jump(page){
			if(page==null){
				var page=$("#pageId").val();
			}else{
				if(page<1){
    				page=1;
    			}
			}
			window.location.href ='$url&page='+page;
        }
    </script>
        #set($prepage = $pageInfo.getPrePage())
        #set($nextpage = $pageInfo.getNextPage())
        #set($pages = $pageInfo.getPage())
        #if(($pageInfo.getLimit() * $pages)<$pageInfo.getTotalCount())
            #set($pages = $pages +1)
        #end

        #set($begin = 1)
        #set($last = 1)
       
        #if($pages<=10)
            #set($last = $pages)
        #else
            #set($begin = $!pageInfo.getPage() - 4)
            #if($begin <  1)
                #set($begin = 1)
            #end
            #set($last = $begin + 9)
            #if($last > $pages)
                #set($last = $pages)
                #set($begin = $pages - 9)
            #end
        #end 
      #if($pages > 0)
    <div id="J_bottomPage" class="p-wrap">
		
        <span class="p-num">
			<a href="javascript:void(0)" class="pn-prev 
				#if($pageInfo.getPage() == 1) 
					disabled 
				#end" onclick="page_jump('$prepage')"><i>&lt;</i><em>上一页</em></a>
				#foreach($index in [${begin}..${last}])
					#if($index==$!pageInfo.getPage()) 
						<a href="$url&page=$index" class="curr">$index</a> &nbsp;
					#else
						<a href="$url&page=$index">$index</a> 
					#end 
				#end 
				#if($!pageInfo.getPage() != $last)
					<a href="javascript:void(0)" class="pn-next"  onclick="page_jump('$nextpage')">下一页<i>&gt;</i></a>
				#end
		</span>
		<span class="p-skip"><em>共<b>$pageInfo.getTotalPages()</b>页&nbsp;&nbsp;到第</em>
			<input id="pageId" type="text" class="input-txt" value="$!index" size="2"/>
			<em>页</em>
			<a href="javascript:page_jump();" class="btn btn-default">确定</a>
		</span>
			</div>
		</div>
     #end
#end
