<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruobilin.mall.admin.mapper.CommodityTableMapper">
	<insert id="insertCommodityTable" parameterType="com.ruobilin.mall.admin.entity.CommodityTable">
		insert into commodityTable
		(
			id,
			commodityBasicId,
			name,
			promotionWord,
			price,
			stock
		)
		values(
			#{id},
			#{commodityBasicId},
			#{name},
			#{promotionWord},
			#{price},
			#{stock}
		)
	</insert>
	<insert id="insertCommodityTableList" parameterType="com.ruobilin.mall.admin.entity.CommodityTable">
		insert into commodityTable
		(
			id,
			commodityBasicId,
			name,
			promotionWord,
			price,
			stock
		)values
		<foreach collection="list" item="commodityTable"  index="index" separator=",">
			(
			#{commodityTable.id},
			#{commodityBasicId},
			#{commodityTable.name},
			#{commodityTable.promotionWord},
			#{commodityTable.price},
			#{commodityTable.stock}
			)
		</foreach>
	</insert>
	<update id="updateCommodityTable" parameterType="com.ruobilin.mall.admin.entity.CommodityTable">
		update commodityTable
		set 
		<if test="commodityBasicId !=null">commodityBasicId=#{commodityBasicId},</if>
		<if test="name !=null">name=#{name},</if>
		<if test="promotionWord !=null">promotionWord=#{promotionWord},</if>
		<if test="price !=null">price=#{price},</if>
		<if test="stock !=null">stock=#{stock},</if>
		id=#{id}
		where id=#{id}
	</update>
	<delete id="delCommodityTable" parameterType="String">
		delete from commodityTable
		where id=#{id}
	</delete>
	<delete id="delCommodityTableAndCommodityBasicId" parameterType="String">
		delete from commodityTable
		where commodityBasicId=#{commodityBasicId}
	</delete>
	<select id="queryListCommodityTable" parameterType="String" resultType="com.ruobilin.mall.admin.entity.CommodityTable">
		select  * from commodityTable
		where commodityBasicId=#{commodityBasicId}
	</select>
</mapper>