/***index-page**/
.bg_banner{background-color:#2a2a2a;}
.banner ul, .banner li, .index_content ul, .index_content li, .index_box2 ul, .index_box2 li, .index_box1 ul, .index_box1 li{padding:0; margin:0; list-style:none;}
/**index banner **/
#content{
	margin:auto;width:1000px;}
#imgauto{
	height:380px;
	position:relative;
	}
.img-con,.next,.pre,.backbg,.img-btn{
	display:block;
	position:absolute;}
.img-con{
	z-index:50;}
.img-con a{
	display:none;}
.img-con img{height:380px; width:1000px;}
.next{
	right:30px;
	top:130px;
	z-index:99; display:block; width:57px; height:98px; background:url(/letouwang/file/images/bg_banner.png) -57px 0px no-repeat;}
	
.pre{
	left:30px;
	top:130px;
	z-index:98; display:block; width:57px; height:98px; background:url(/letouwang/file/images/bg_banner.png) 0px 0px no-repeat;}

.img-btn{
	left:700px;
	top:360px;
	z-index:100;}
.img-btn a{
	float:left;
	margin-right:10px;
	width:9px;
	height:9px;
	cursor:pointer;
	overflow:hidden;
	background:url(/letouwang/file/images/ioc_bg_banner_dian.png) -9px 0px no-repeat;
	}
.img-btn .img-btn-checked{
	background:url(/letouwang/file/images/ioc_bg_banner_dian.png) 0px 0px no-repeat;}
	
	
	
.index_content, .index_box1_bg{background:#f2f2f2 url(/letouwang/file/images/header/bg-header.gif) left -1px repeat-x;}
.index_box1{ height:36px;}
.index_box1 li{float:left; height:36px; line-height:36px; }
.index_box1 li.indcon_right{ float:right; background:url(/letouwang/file/images/ico_tuijian.png) left center no-repeat; width:285px; padding-left:10px; margin-right:5px;color:#f3c802;  }
.index_box1 li.indcon_right a{color:#f3c802;}
.index_box1 li.indcon_right a:hover{color:#fff; text-decoration:underline;}
.index_box1 li.indcon_txt{width:59px; padding-left:47px; background:#434343 url(/letouwang/file/images/ico_home.png) 14px 7px no-repeat; color:#f3c802; font-size:16px; border-right:1px solid #585858;}
.index_box1 li.indcon_con{color:#b0b0b0; width:592px; overflow:hidden;}
.index_box1 li.indcon_con a{background:url(/letouwang/file/images/box1_link_BGline.gif) left center no-repeat; margin-left:-1px; padding:0 10px 0 11px; color:#b0b0b0; display:block; float:left; cursor:hand;} 
.index_box1 li.indcon_con a:hover{background:#434343 url(/letouwang/file/images/box1_link_BGline.gif) left center no-repeat;}
.index_box1 li.indcon_con a.link_more{background:url(/letouwang/file/images/ico_sanjiao6.gif) 5px center no-repeat; padding:0 5px 0 11px; color:#5b5b5b; float:right;}
.index_box1 li.indcon_con a.link_more:hover{background:#434343 url(/letouwang/file/images/ico_sanjiao.gif) 5px center no-repeat; color:#b0b0b0;}




.index_box2{background:#fff url(/letouwang/file/images/index_conbg.png) 25px -9px no-repeat; padding-top:10px;}
.index_box2 li{float:left; width:330px; padding-bottom:10px;}
.index_box2:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.index_box2{display: inline-block;}
/*\*/
.index_box2{display: block;}
/* end easy clearing */
.index_box2 li div.index_box2_con img{margin:5px 0px 0px 12px;}
.index_box2 li div.index_box2_txt{background-color:#d4d4d4; padding:0 10px 0 15px; height:36px; line-height:36px; border-bottom:4px solid #f8f8f8; color:#2a2a2a; margin:0 6px 0 10px; font-size:14px;}
.index_box2 li div.index_box2_txt a{color:#9e9e9e; float:right;font-size:12px;}
.index_box2 li div.index_box2_txt a:hover{color:#353535;}


.index_box3{background:url(/letouwang/file/images/index_con_bg.gif) left 10px repeat-x; padding-top:10px;}
.index_box3 div{float:left;}
.index_box3:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.index_box3{display: inline-block;}
/*\*/
.index_box3{display: block;}
/* end easy clearing */
.index_box3 h2{padding:0; margin:0; display:block; padding-top:10px;}
.index_box3 div.yiyangaiwan{ background:url(/letouwang/file/images/index_con_bg2.gif) right top repeat-y; margin-top:2px; color:#666; width:49%; line-height:20px;}
.index_box3 div.yiyangaiwan a{color:#666;}
.index_box3 div div{float:none; width:auto;padding:10px 25px 0px 0px;}
.index_box3 div.index_aboutus{width:51%;line-height:20px;}
.index_box3 div.index_aboutus, .index_box3 div.index_aboutus a{color:#666;}
.index_box3 div.index_aboutus a:hover, .index_box3 div.yiyangaiwan a:hover{ text-decoration:underline; color:#333; }
.index_box3 div.index_aboutus img{float:left; margin:10px 15px 10px 10px; border:5px solid #343434; width:145px;}
.index_box3 div.index_aboutus h3, .index_box4 h3{padding:15px 0 10px 0; margin:0; font-size:16px; color:#027e0c;}


.index_box4{background:url(/letouwang/file/images/index_con_bg.gif) left 0px repeat-x; padding-top:10px; padding-bottom:10px;}
.index_box4 h3{display:block; padding-top:5px;}
.index_box4 div.jiditu img{ margin-right:16px;}

/*fuwu**/
.fuwu{position:relative;}
.kehufuwu{position:absolute; right:0; width:155px; top:46px; background:#fff; border-bottom:1px solid #c9c9c9;}
.kehufuwu h2{ display:block; height:30px; line-height:30px; background:#009f13 url(/letouwang/file/images/fudong_bg.png) 15px bottom no-repeat; padding-left:50px; color:#fff; font-size:16px; font-weight:lighter;}
.kehufuwu div{margin:0 10px; border-bottom:1px solid #f2f2f2; padding:10px 0 0 0 ;}
.kehufuwu div ul.qq_box{height:30px}
.kehufuwu div ul.qq_box li{float:left; padding-right:7px;}
.kehufuwu div ul.qq_box_huise{color:#b2b2b2;}
.align_center{margin:0 auto; margin-left:7px;}
.ico_margin{margin:5px 5px 15px 5px;}
.div_bianxian{padding-left:10px;}


/****/
.rollleft {FLOAT:right; WIDTH: 240px}
.rollleft div{text-align:right;}
.rollcenter {WIDTH: 30px; TEXT-ALIGN: center; color:#a68c16; font-size:10px;}
.rollright {FLOAT: right; TEXT-ALIGN: center}
.rollright IMG {VERTICAL-ALIGN: middle}

/****/
.boxgrid{ 
				width: 148px; 
				height: 110px; 
				margin:10px 5px 0px 10px; 
				float:left; 
				background:#161613; 
				overflow: hidden; 
				position: relative; 
			}
				.boxgrid img{ 
					position: absolute; 
					top: 0; 
					left: 0; 
					border: 0; 
					width: 148px; 
					height: 110px;
				}
				.boxgrid p{ 
					padding: 0 10px; 
					color:#afafaf; 
					font-weight:bold; 
					font:10pt "Lucida Grande", Arial, sans-serif; 
				}
				
			.boxcaption{ 
				float: left; 
				position: absolute; 
				background: #000; 
				height: 30px; 
				line-height:30px;
				width: 100%; 
				opacity: .8; 
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
		    h3.biaoti_style{ margin:0; color:#FFF; font:12px Arial, sans-serif; letter-spacing:-1px; line-height:30px; padding-left:10px}
 				.captionfull .boxcaption {
 					top: 148px;
 					left: 0;
 				}
 				.caption .boxcaption {
 					top: 80px;
 					left: 0;
 				}
 				
 				
.guanggao1{position:absolute; width:165px; height:408px; left:0; top:0; margin-top:10px;}
.guanggao2{position:absolute; width:165px; height:408px; left:0; top:420px; margin-top:10px;}
.guanggao3{position:absolute; width:165px; height:408px; right:0; top:0px; margin-top:10px;}
.guanggao1 img, .guanggao2 img, .guanggao3 img{height:397px;width:165px;}				


/**login**/
.login_style{background: #fafeff url(/letouwang/file/images/login_bg.gif) left top no-repeat; background-size:100% auto; padding:50px 0; color:#6a6a6a;}
.login_con{width:420px; padding:25px 30px 30px 505px; margin:0 auto; border:10px solid #9dd3a4; background:#fff; height:365px;}
.login_img{float:left; margin-left:-505px; margin-top:-25px; width:480px; height:420px;}
.login_txt{padding:0; margin:0; font-size:16px; color:#018110; padding-left:15px; height:35px; line-height:35px; background-color:#fbfbfb; border-bottom:3px solid #f2f2f2; font-weight:lighter;}

.box_content, .box_content li{padding:0; margin:0; list-style:none;}
.box_content{ margin-top:20px; }
.box_content:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.box_content{display: inline-block;}
/*\*/
.box_content{display: block}
/* end easy clearing */
.box_content li{float:left;}
.box_content li.box_txt{width:85px; padding-right:5px; padding-top:10px; text-align:right; color:#333; font-size:14px; height:61px;}
.box_content li.box_con, .box_content li.box_cuowu, .box_content li.box_shuru, .box_content li.box_inputwidth, .box_content li.box_yanzheng{height:72px;}
.box_content li.box_con input{border:1px solid #c2c2c2; height:35px; line-height:35px; width:320px; padding-left:7px; }
.box_content li.box_inputwidth input{border:1px solid #c2c2c2; height:35px; line-height:35px; width:320px; padding-left:7px;  color:#c2c2c2; font-family:"Microsoft YaHei";}


.box_content li.box_cuowu input{border:1px solid #e29f7f; height:35px; line-height:35px; width:320px; padding-left:7px; font-family:"Microsoft YaHei"; color:#c2c2c2;}
.box_content li.box_cuowu div{color:#cb1705; padding-left:1px; padding-top:5px;}
.box_content li.box_shuru input{border:1px solid #666; height:35px; line-height:35px; width:320px; padding-left:7px; color:#c2c2c2;font-family:"Microsoft YaHei";}
.box_content li.box_yanzheng input{width:145px;}
.box_content li a.link_login{color:#01770f; text-decoration:underline; text-align:center; width:50px; display:block; height:20px; line-height:20px; margin-top:-2px;}
.box_content li a.link_login:hover{background-color:#01770f; color:#fff; text-align:center; width:50px; display:block;}
.box_content li.wenzi_style{padding-top:11px; height:40px;}

.box_content2{height:30px; padding-left:90px;}
.box_content li a.link_huise{color:#525252; text-decoration:underline; text-align:center; width:80px; display:block; height:20px; line-height:20px; margin-top:-2px;}
.box_content li a.link_huise:hover{background-color:#01770f; color:#fff; text-align:center; width:80px; display:block;}
.button_login{width:418px; height:50px; line-height:50px; border:0; border-bottom:1px solid #4b4c4c; background-color:#00720e; font-family:"Microsoft YaHei"; font-size:24px; letter-spacing:20px; color:#fff;}
.button_login:hover{background-color:#00620c;}


/***register***/
.register_box{width:845px; padding:25px 30px 30px 80px; height:auto;}
.register_div{width:425px; padding-right:210px; border-right:1px solid #ddd;}
.hqyzm_button{height:37px; line-height:37px; width:129px; background-color:#7eb986; border:0; color:#02460c; font-family:"Microsoft YaHei"; }
.hqyzm_button:hover{background-color:#69ad72; color:#002205;}
.box_content li.register_yanzheng input{width:190px;}
.box_content3{height:20px; padding-left:90px; margin:0; padding-top:0; padding-bottom:15px;}
.register_box li{ position:relative;}
.register_box li div.wenzishuoming{ position:absolute; top:11px; right:-215px; width:210px; height:30px;  color:#669966;}
.register_txt{padding:0; margin:0; font-size:16px; color:#018110; padding-left:15px; height:35px; line-height:35px; background-color:#fbfbfb; border-bottom:3px solid #f2f2f2; font-weight:lighter; margin-left:-50px;}
a.link_register, a.link_register:hover{width:auto;}
.register_right_con{float:right; width:200px; margin-top:75px;}
.box_content li.box_cuowu div.wenzishuoming{position:absolute; top:11px; right:-215px; width:210px; height:30px;}
.box_content li.box_cuowu div.wenzishuoming{top:6px;}
.register_chenggong{padding:60px; line-height:25px; text-align:center;}
.register_chenggong h2{color:#cb1705;}

/**product list**/
.product_page_bg{background-color:#f2f2f2;}
.product_txt{width:110px; text-align:center; background:#434343; color:#f3c802; font-size:16px; border-right:1px solid #585858;}
.product_page_con{padding-left:15px;}
.product_box1{padding-right:290px;}
.product_box1:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.product_box1{display: inline-block;}
/*\*/
.product_box1{display: block;}
/* end easy clearing */

.product_right{float:right; margin-right:-285px; margin-top:50xp;width:285px;}
.product_right div.guanggao{padding-bottom:10px;}
.product_right div.guanggao img{width:285px;}
.phone_box{margin-bottom:5px; background:url(/letouwang/file/images/product_400_bg.gif) left 44px repeat-x; text-align:center; }
.product_right div.jqhd_box ul{}
.product_right div.jqhd_box li{padding:0; margin:0; margin-bottom:0px;}
.product_right div.jqhd_box li h3{padding:6px 0 6px 18px; margin:0; background:#e9e9e9 url(/letouwang/file/images/ico_sanjiao.gif) 10px center no-repeat; width:267px; font-weight:lighter; font-size:12px;}
.product_right div.jqhd_box li img{width:285px; height:100px; margin:5px 0;}
.product_right div.jqhd_box li.jqhd_box_txt{ background:#009f13; padding:8px 0 8px 10px; color:#fff; font-size:16px; width:275px;}
.product_right div.jqhd_box li.jqhd_box_txt a{display:block; float:right; margin-right:10px; color:#b0e1b6; font-size:12px; margin-top:5px; padding:0 5px; }
.product_right div.jqhd_box li.jqhd_box_txt a:hover{color:#fff;}
.product_left {}
.product_left table.product_table{border-collapse: collapse; margin-top:-10px;}
.product_left table.product_table th, .product_left table.product_table td{border-bottom:1px solid #f1f1f1; line-height:18px; padding:3px 0;}
.product_left table.product_table td{border-left:1px solid #f1f1f1; padding-left:3px;}
.product_left table.product_table td a{color:#7b7b7b; display:block; float:left; padding:3px 13px; margin:0 2px; border:1px solid #fff;}
.product_left table.product_table td a:hover, .product_left table.product_table td a.xuanzhong, .usercenter_table a.xuanzhong{border:1px dashed #d2d2d2; background:#e5f5e7; color:#0d5815;}
.product_list_txt{background-color:#d4d4d4; padding:0 10px 0 15px; height:36px; line-height:36px; border-bottom:4px solid #f8f8f8; color:#2a2a2a; margin:1px 2px 0 0px; font-size:14px;}
.product_list_con:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.product_list_con{display: inline-block;}
/*\*/
.product_list_con{display: block;}
/* end easy clearing */
.product_list_con li{ width:353px; border-bottom:1px solid #f1f1f1; height:110px; padding-top:10px; float:left;}
.product_list_con li img, .product_list_con li div{float:left;}
.product_list_con li img{margin-left:15px;}
.product_list_con li div{margin-left:10px; color:#888; line-height:22px; word-wrap:break-word; overflow:hidden; width:177px;}
.product_list_con li div h3{color:#333; margin-bottom:10px; width:177px;}

/****/
.yema{margin-top:15px 0; margin-top:-1px;  text-align:center; color:#666; border-top:1px solid #f1f1f1; padding:10px 0 10px 0;}
.yema a{padding:3px 5px; color:#666;}
.yema a:hover{background:#CCC; color:#000;}

.gundong_box{background:#f2f2f2; border:7px solid #fff;}
.gundong_box h3{height:35px; line-height:35px; padding:0; padding-left:44px; margin:0; display:block;}
.gundong_box div{float:left; margin-bottom:10px;}
.gundong_box:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.gundong_box{display: inline-block;}
/*\*/
.gundong_box{display: block;}
/* end easy clearing */
.gundong_box div.gundong_box_left, .gundong_box div.gundong_box_right{width:20px; text-align:right; padding-top:45px;}
.gundong_box div.gundong_box_right{ text-align:left;}
.gundong_box div.gundong_box_content, .gundong_box div.gundong_box_content li{padding:0; margin:0; list-style:none;}
.gundong_box div.gundong_box_content{width:987px; background-color:#fff; height:140px; padding-left:0px; overflow:hidden;}
.gundong_box div.gundong_box_content li{width:137px; margin-left:10px; margin-right:10px; height:120px; text-align:center; padding-top:10px; float:left;}

.gundong_box div.gundong_box_content:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.gundong_box div.gundong_box_content{display: inline-block;}
/*\*/
.gundong_box div.gundong_box_content{display: block;}
/* end easy clearing */

.gundong_box div.gundong_box_content li img{margin-bottom:5px; width:100%; height:102px;}


.product_box2{background-color:#fff;}




/* CSS Document */
.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
	width:285px;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	padding: 0 0px 0 17px;
	height: 32px;
	color: #2a2a2a;
	font:  12px/32px "Microsoft YaHei";
	text-decoration: none;
	background: #f3f3f3;
	border-top:1px solid #fff;
	border-bottom:1px solid #f2f2f2;
	font-weight:bolder;
	
}

.accordion li > a span, .accordion2 li > a span{font-weight:lighter; padding-right:15px;}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	color: #3e5706;
	background: #dbdbdb;
	
}



/* Images */

.accordion > li > a:before, .accordion2 > li > a:before{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 24px;
	height: 24px;
	margin: 4px 0px;
	background:url(../images/ico_sanjiao.gif) 10px center no-repeat;
	
}




/* Functionality */

.accordion li > .sub-menu, .accordion2 li > .sub-menu {
	display: none;
	background-color:#fbfbfb;
	padding:5px 10px 0 10px;
}

.accordion li:target > .sub-menu {
	display: block;
}

.accordion li > .sub-menu a img, .accordion2 li > .sub-menu a img{width:100%; height:110px; margin:5px auto; }

.accordion2 li > .sub-menu{display:block;}
.accordion2 li {
	list-style: none;
	width:285px;
}

/* Layout & Style */

.accordion2 li > a {
	display: block;
	position: relative;
	padding: 0 0px 0 17px;
	height: 32px;
	color: #2a2a2a;
	font:  12px/32px "Microsoft YaHei";
	text-decoration: none;
	background: #f3f3f3;
	border-top:1px solid #fff;
	border-bottom:1px solid #f2f2f2;
	font-weight:bolder;
	
}





/**p-page**/
.p-page_xinxi{border-bottom:3px solid #b2b2b2; background-color:#fff; margin-top:-10px; padding:10px; border-top:25px solid #f2f2f2;}
.p-page_xinxi div{float:left;}
.p-page_xinxi:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.p-page_xinxi{display: inline-block;}
/*\*/
.p-page_xinxi{display: block;}
/* end easy clearing */

.p-page_xinxi div.page_chanpin_left{width:520px; border-right:1px solid #eee; height:300px;}
.p-page_xinxi div.page_chanpin_right{width:454px; border:1px solid #fff;}
.p-page_xinxi div.page_chanpin_right p{display:block; padding:0px 0 5px 85px; line-height:22px; width:290px; margin:0; color:#999;}
.p-page_xinxi div.page_chanpin_right p strong{display:block; float:left; margin-left:-50px; color:#666; width:80px;}
.p-page_xinxi div.page_chanpin_right p span{color:#090; font-weight:bold;}
.p-page_xinxi div.page_chanpin_right div.nianlihua{width:120px; height:110px; float:right; margin-right:0px; background-color:#f4fbf5; border-bottom:1px solid #f0f0f0; text-align:center;}
.p-page_xinxi div.page_chanpin_right div.nianlihua h3{display:block; height:30px; line-height:30px; color:#025a00; background-color:#ccecd0;}
.p-page_xinxi div.page_chanpin_right div.nianlihua h1{margin-top:20px; color:#43a54f;}

.product-page_box1{padding-left:290px; padding-right:0;}
.product-page_box1 div.page_box_right{float:right; width:670px; margin-right:10px; border:1px solid #ebebeb; padding:10px; color:#999; line-height:20px; margin-bottom:20px;}
.product-page_box1 div.page_box_right h3{color:#00740e; font-weight:lighter; display:block; margin-bottom:5px; font-size:16px;}
.product-page_box1 div.page_box_right p{padding:5px 0 10px 0; margin:0;}
.product-page_box1 div.page_box_left{float:left; margin-left:-290px;}
.page_button_box{text-align:center; padding:20px 0 10px 0; border-top:1px solid #ebebeb;}



/***findProductNo**/
.findProductNo_body{color:#666; }
.findProductNo_body td, .findProductNo_body th{padding:10px 0;font-size:12px;} 
.findProductNo_body th{font-weight:lighter; text-align:right; width:90px; padding-right:20px;}
.findProductNo_body table{border-bottom:1px dashed #dbdcdc;  margin:0 auto 10px auto; width:94%; }
.findProductNo_body h2{padding:0; margin:0; font-size:16px; font-weight:lighter; display:block; border-bottom:1px solid #eee; height:
30PX; line-height:30PX; padding-left:10px;}
.findProductNo_body select{width:130px;}
.findProductNo_body input.time_date{width:130px; height:20px; line-height:20px; border:1px solid #ccc;}
.findProductNo_body dd{margin:20px auto; width:94%; display:block; font-size:14px;}
.findProductNo_body div.findProductNo_divbox{height:185px; border-bottom:1px dashed #dbdcdc; margin:0 auto 10px auto; width:94%;}
.findProductNo_body div.findProductNo_divbox table{border-bottom:0; margin:0; width:100%;} 
.findProductNo_body ul.findproduct_ul, .findProductNo_body ul.findproduct_ul li{padding:0; margin:0; list-style:none;}
.findProductNo_body ul.findproduct_ul li{float:left;}
.findProductNo_body ul.findproduct_ul:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.findProductNo_body ul.findproduct_ul{display: inline-block;}
/*\*/
.findProductNo_body ul.findproduct_ul{display: block;}
/* end easy clearing */
.findProductNo_body ul.findproduct_ul{padding-top:15px;}
.findProductNo_body ul.findproduct_ul li table{border-bottom:0; margin:0; width:100%;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_left{border-right:1px solid #dbdcdc;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right{border-left:1px solid #dbdcdc; margin-left:-1px; padding-left:15px;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right div{height:280px; overflow-y:scroll;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right div table, .findProductNo_body ul.findproduct_ul li.findproduct_ul_right div td, .findProductNo_body ul.findproduct_ul li.findproduct_ul_right div th{padding:0; margin:0;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right div table{border-collapse: collapse;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right div td, .findProductNo_body ul.findproduct_ul li.findproduct_ul_right div th{line-height:24px;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right div th{text-align:center; border:1px solid #f1f1f1; color:#333;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right div td{text-align:center; border-top:1px solid #f1f1f1; color:#7b7b7b;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right span{display:block; height:250px; margin-top:0px; padding:20px 50px 0 50px;}
.findProductNo_body ul.findproduct_ul li.findproduct_ul_right span h2{border:0;}
a.link_add{border:1px dashed #d2d2d2; background:#e5f5e7; color:#0d5815; float:right; padding:3px 10px;  margin-bottom:10px; margin-right:35px; margin-top:15px;}

/***productDetailed***/
.PDetailed{background-color:#fff; padding-left:250px; width:750px;}
.page_bian{padding-top:15px; padding-bottom:15px;}

.PDetailed:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.PDetailed{display: inline-block;}
/*\*/
.PDetailed{display: block;}
/* end easy clearing */

.PDetailed div.PD_left{float:left; margin-left:-250px; width:250px; padding-top:15px;}
.PD_left_divbox div{border:1px solid #eee; padding:10px 0; border-top:0;} 
.PD_left_divbox h2{padding:0; margin:0; background:#009f13; height:28px; line-height:28px; display:block; padding-left:10px; font-size:14px;font-weight:lighter; color:#fff;}
.PD_left_divbox a{display:block; line-height:18px; padding:3px 0; padding-left:25px; color:#333;  background:url(/letouwang/file/images/ico_sanjiao.gif) 15px 9px no-repeat; border-bottom:1px solid #fff; border-top:1px solid #fff; margin:2px 0;}
.PD_left_divbox a:hover, .PD_left_divbox a.link_aboutue{color:#093; text-decoration:underline; background:#f5f5f5 url(/letouwang/file/images/ico_sanjiao.gif) 15px 9px no-repeat; border-bottom:1px solid #eee;  border-top:1px solid #eee;}
.PD_left_divbox a.link_aboutue{font-weight:bolder; }
.PD_left_divbox a.ico_home2{background:url(/letouwang/file/images/ico_home2.png) 10px 4px no-repeat; padding-left:30px; }
.PD_left_divbox a.ico_home2:hover{background:#f5f5f5 url(/letouwang/file/images/ico_home2.png) 10px 4px no-repeat; }
.PDetailed div.PD_right{padding:15px 10px 10px 10px; line-height:22px;}
.PDetailed div.PD_right p{margin-bottom:15px;}
.PDetailed div.PD_right h3{padding:0; margin-bottom:5px; color:#02720a; font-size:16px; font-weight:lighter;}
div.PD_right div.dqwz_divbox{border:1px solid #d4d4d4; color:#333; padding-left:15px; height:26px; line-height:26px; margin-bottom:15px; background-color:#f5f5f5;}
div.PD_right div.dqwz_divbox a{color:#999;}
div.PD_right div.dqwz_divbox a:hover{color:#02720a; text-decoration:underline;}
div.PD_right div.aboutus_divbox{border:1px solid #d4d4d4; margin-top:-15px; padding:15px;}
div.PD_right div.aboutus_divbox h2{font-size:16px; font-weight:lighter;}
div.PD_right div.aboutus_divbox div.about_txt{border-bottom:5px solid #f2f2f2; margin-bottom:15px;}
div.PD_right div.aboutus_divbox div.about_txt h2{display:block; border-bottom:1px solid #009f13; display:block; height:32px;}
div.PD_right div.aboutus_divbox div.about_txt h2.ico_aboutus1{background:url(/letouwang/file/images/photo_aboutus.png) 0px 0px no-repeat;}
div.PD_right div.aboutus_divbox div.about_txt h2.ico_aboutus2{background:url(/letouwang/file/images/photo_aboutus.png) 0px -36px no-repeat; height:38px;}
div.PD_right div.aboutus_divbox div.about_txt h2.ico_aboutus3{background:url(/letouwang/file/images/photo_aboutus.png) 0px -84px no-repeat;}
div.PD_right div.aboutus_divbox div.about_txt h2.ico_aboutus4{background:url(/letouwang/file/images/photo_aboutus.png) 0px -117px no-repeat;}
div.PD_right div.aboutus_divbox div.about_txt h2.ico_aboutus5{background:url(/letouwang/file/images/photo_aboutus.png) 0px -150px no-repeat;}
div.PD_right div.aboutus_divbox div.about_txt h2.ico_aboutus6{background:url(/letouwang/file/images/photo_aboutus.png) 0px -190px no-repeat; text-align:right; padding-right:15px; padding-top:0px; color:#666; line-height:38px; overflow:hidden; font-size:14px;}
div.PD_right div.aboutus_divbox div.about_txt h2.ico_aboutus7{background:url(/letouwang/file/images/photo_aboutus.png) 0px -230px no-repeat;}

div.PD_right div.aboutus_divbox img.aboutus_img{float:left; margin:0 15px 15px 0px;} 
div.PD_right div.aboutus_divbox div.link_boxdiv{border-bottom:1px solid #eee; margin-bottom:25px;}
div.PD_right div.aboutus_divbox div.link_boxdiv p{ padding:0 20px;}
div.PD_right div.aboutus_divbox div.tuandui{padding-left:200px;}
div.PD_right div.aboutus_divbox div.tuandui:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
div.PD_right div.aboutus_divbox div.tuandui{display: inline-block;}
/*\*/
div.PD_right div.aboutus_divbox div.tuandui{display: block;}
/* end easy clearing */
div.PD_right div.aboutus_divbox div.tuandui img{width:165px; height:115px; margin-left:-190px; border:5px solid #f2f2f2;}
div.PD_right div.aboutus_divbox div.hezouhuoban img{border:5px solid #f2f2f2; float: left; width:210px; height:70px;margin-right:12px; margin-bottom:15px;}
div.PD_right div.aboutus_divbox div.hezouhuoban:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
div.PD_right div.aboutus_divbox div.hezouhuoban{display: inline-block;}
/*\*/
div.PD_right div.aboutus_divbox div.hezouhuoban{display: block;}

div.PD_right div.aboutus_divbox div.zhaopin{border-top:2px solid #f2f2f2; padding-bottom:15px; margin-top:-15px; padding-top:20px;}
div.PD_right div.aboutus_divbox div.zhaopin h4{padding:0; margin:0; height:24px; line-height:14px; font-weight:lighter; font-size:14px; color:#02720a; border-bottom:1px dashed #d4d4d4;}
div.PD_right div.aboutus_divbox div.zhaopin div.zhaopin_divbox{margin-bottom:10px;}
div.PD_right div.aboutus_divbox div.zhaopin div.zhaopin_divbox span{color:#999; padding-right:25px; padding-left:3px;}
div.PD_right div.aboutus_divbox div.zhaopin div.zhaopin_divbox_con{margin-bottom:10px;}




.PD_left_divbox div.activities_left a{display:block; line-height:18px; padding:3px 0; padding-left:0px; color:#333;  background:none ; border-bottom:1px solid #fff; border-top:1px solid #fff; margin:2px 0;}
.PD_left_divbox div.activities_left a:hover{color:#093; text-decoration:underline; background:#f5f5f5 ; border-bottom:1px solid #eee;  border-top:1px solid #eee;}
.PD_left_divbox div.activities_left a{text-align:center;}

.activities_box{background-color:#fff; width:900px;}
.activities_box h2{padding:0; margin:0; margin-bottom:15px; background:#009f13; height:28px; line-height:28px; display:block; padding-left:10px; font-size:14px;font-weight:lighter; color:#fff;}
.activities_box h3 span{padding-left:30px; font-size:12px;}
div.activities_conbox{border-bottom:1px dashed #eee; margin-bottom:10px; padding-bottom:5px;}

.group_table{border-collapse:collapse;}
.group_table td, .group_table th{border:1px solid #eee; line-height:24px;}
.group_table thead th{border-bottom:2px solid #009f13; background-color:#f1f1f1; line-height:28px; color:#03600e;}
.group_table tbody th{font-weight:lighter;}
.group_table tbody td{padding:0 3px;}
.group_table tbody th.group_thone{background:#fafafa;}
.group_table tbody th.group_link{padding:5px 0;}
.chenggong_h1{margin:100px auto 0 auto; text-align:center;}
.tuanrenshu{height:22px; line-height:22px; width:150px; padding:0 3px; border:1px solid #c2c2c2;}



/***The user center***/
.PD_left_divbox div ul.accordion li {
	list-style: none;
	margin-bottom:2px;
	width:244px;
}

.PD_left_divbox div ul.accordion li > a {
	display: block;
	position: relative;
	padding: 0 0px 0 17px;
	height: 32px;
	color: #2a2a2a;
	font:  12px/32px "Microsoft YaHei";
	text-decoration: none;
	background: #f5f5f5;
}

.PD_left_divbox div ul.accordion > li:hover > a,
.PD_left_divbox div ul.accordion > li:target > a,
.PD_left_divbox div ul.accordion > li > a.active {
	color: #3e5706;
	background: #e9e9e9;
	border:1px solid #eee;
	border-width:1px 0;
	
}

.usercenter_box ul, .usercenter_box li{padding:0px; margin:0; list-style:none;}
.usercenter_box  div{padding:0; margin:0; border:0; border:1px solid #eee;}
.usercenter_box h4{padding:0; margin:0; padding-left:15px; border:1px solid #eee; border-width:1px 0; line-height:24px; background-color:#eee; margin-top:3px; color:#02720a;}


.usercenter_table{ border-collapse:collapse; margin-bottom:15px; }
.usercenter_table td, .usercenter_table th{border:1px solid #eaeaea; padding:3px;}
.usercenter_table th{background:#fafafa; color:#999;}
.usercenter_table td a{color:#000;}
.usercenter_table thead th h3{text-align:left; padding-left:15px;}
.usercenter_table input{border:1px solid #c2c2c2; height:20px; line-height:20px; width:130px;}
.usercenter_table tbody th{font-weight:lighter;}
.usercenter_table a, .usercenter_table a.xuanzhong{padding:3px 10px; margin:3px;}
.usercenter_table td table{margin:20px auto 20px auto;}
.usercenter_table td table td{border:0;}
.usercenter_table td table td input{width:300px; height:32px; line-height:32px; margin:5px 0; padding-left:5px;}
.usercenter_table td table td input.button_style_yzm{width:110px; height:33px; line-height:33px; border:0;  border-bottom:1px solid #4b4c4c; background-color:#00720e; font-family:"Microsoft YaHei"; font-size:16px; color:#fff; text-align:center; position:absolute; right:3px; top:3px;}
.usercenter_table td table td input.button_style_yzm_huise{width:110px; height:33px; line-height:33px; border:0; background-color:#f1f1f1; font-family:"Microsoft YaHei"; font-size:16px; text-align:center; position:absolute; right:3px; top:3px; color:#a4a4a4; border-bottom:1px solid #f1f1f1;}


.counselor_box{}
.counselor_box:after{content: '[DO NOT LEAVE IT IS NOT REAL]'; display: block; height: 0; clear: both; visibility: hidden;}
.counselor_box{display: inline-block;}
/*\*/
.counselor_box{display: block;}
.counselor_conbox{padding-left:115px; padding-top:5px; padding-bottom:5px; padding-right:5px; float:left; border:1px solid #eaeaea; width:175px; height:90px; margin:0 25px 10px 0; color:#666;}
.counselor_conbox img.userphoto{float:left; margin-left:-110px; width:100px;height:90px;}
.counselor_conbox img.qq_zaixian{margin-top:10px;} 

/**error-page***/
.error_width{width:430px; margin:70px auto; border:15px solid #9e9e9e; background:#e1e1e1 url(/letouwang/file/images/ico_tanhao.png) 172px 100px no-repeat; padding:100px 0 120px 350px;}
.error_width h2{margin-bottom:30px;}


/*****/
.box_content  input.button_huise{height:37px; line-height:37px; width:129px; background:#f1f1f1; color:#a4a4a4; border:0; font-family:"Microsoft YaHei";}
.box_content  input.button_huise:hover{background:#f1f1f1;}

.register_div div input.button_huise{width:418px; height:50px; line-height:50px; border:0; background:#f1f1f1; color:#a4a4a4; border-bottom:1px solid #f1f1f1;font-family:"Microsoft YaHei"; font-size:24px; letter-spacing:20px; }
.register_div div input.button_huise:hover{background:#f1f1f1;}


/**product buchong **/
.product_tjh dt{background:#fbfbfb; padding:5px 15px 5px 15px; color:#333; line-height:20px; border-bottom:1px solid #f2f2f2; border-top:1px solid #fff;} 



/**
 * Grid container
 */
#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0; margin-left:5px; margin-top:10px;
}

/**
 * Grid items
 */
#tiles li {
width: 232px; padding-bottom:10px;
}

#tiles li img {
display: block;
width:100%;
}

/**
 * Grid item text
 */
#tiles li p {
color: #333;
font-size: 12px;
padding: 0px 0 0px 7px;
background-color:#f9f9f9;
height:30px; line-height:30px;

}

#tiles li p span{color:#999;}



#main {
padding: 0;
}

.photowall_jiazai_box{background-color:#f9f9f9; text-align:center; border:1px solid #ededed; padding:8px 0; margin:10px 20px;}
.photowall_jiazai_box a{text-decoration:underline; color:#333;}
.photowall_jiazai_box span{ background:url(/letouwang/file/images/images/loding.gif) left center no-repeat; padding-left:25px;}

