#set($page_title=$!category.name)
#set($basePath=$request.contextPath)
<link href="$basePath/css/list.css" rel="stylesheet" type="text/css">
	<script type=text/javascript src="$basePath/js/jquery-2.1.0.min.js"></script>
	<script type=text/javascript src="$basePath/js/Base64new.js"></script>
	<script type=text/javascript >
		var basePath='$basePath';
    </script>
	<script src="$basePath/js/shopsCommodity/list.js" type=text/javascript></script>
<div class="selectNumberScreen">
<div class="w">
    <div class="crumbs-bar clearfix">
		<div class="crumbs-nav">
			<div class="crumbs-nav-main clearfix">
				<div class="crumbs-nav-item">
            		<div class="selector-set">
						#foreach($param in $listParam)
                			<a href="javascript:void(0)" title="$param.propertisValues" class="ss-item" onclick="closeQuery('$!category.code','$!param.propertisValues','$!param.propertisIds','$!param.propertisNames','$!param.propertisValueIds')">
								<input type="hidden" name="propertisParam" value="$!param.propertisValues:$!param.propertisIds:$!param.propertisNames:$!param.propertisValueIds"/>
                				<b>$param.propertisNames：</b><em>$param.propertisValues</em><i></i>
                			</a>
						#end
            		</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="J_searchWrap" class="w">
	<div class="container">
		<div id="J_selector" class="selector">
			<div class="s-title">
				<h3><b>$!category.name</b><em>&nbsp;商品筛选</em></h3>
			</div>
			#foreach($p in $propertyList)
			<div class="sl-wrap">
            	<div class="sl-key">
            		<span>$p.property：</span>
            	</div>
				<div class="sl-value">
					<div class="sl-v-list">
						<ul style="" class="J_valueList">
							#foreach($pv in $propertyValueList)
								#if($pv.categoryPropertyId==$p.id)
            						<li style="">
            							<a onclick="onQueryList('$!category.code','$pv.name','$p.id','$p.property',null,null,'$pv.id')" href="javascript:void(0)" rel="nofollow"><i></i>$pv.name</a>
            						</li>
								#end
							#end
						</ul>
					</div>
				</div>
			</div>
			#end
		</div>
		<div class="hasBeenSelected">
		<dl>
		  <dt>已选条件：</dt>
		  <dd style="DISPLAY: none" class=clearDd>
		  <div class=clearList></div>
		  <div style="DISPLAY: none" class="eliminateCriteria">清除筛选条件</div>
		</dd></dl>
	</div>
		<!-- 商品列表 -->
		<div id="J_main" class="g-main2">
            <div class="m-list">
               <div class="ml-wrap">
					<!-- 查询条件-->
					<div id="J_filter" class="filter">
						<div class="f-line top">
							<div class="f-sort">
								<a href="javascript:void(0)" 
									#if($orderSelect=="created")
										class="curr"
									#end
									onclick="onSelectQueryList(this,'$!category.code','created')">上架时间<i></i></a>
							</div>
							<div class="f-search">
								<input id="resultSearchTxt" value="在结果中搜索" class="input-txt" onfocus="onTxtFocus(this)" onblur="onTxtBlur(this)">
									<a id="resultSearchBtn" onclick="onResultSearchBtn('$!category.code')" href="javascript:void(0);" class="btn btn-default">确定</a>
							</div>
						</div>
					</div>
					<!-- 商品展示列-->
					<div id="plist" class="goods-list-v1 J-goods-list">
						<ul class="gl-warp clearfix">
							#foreach ($p in $products)
							<li class="gl-item">
								<div class="gl-i-wrap j-sku-item">
									<!-- 图片-->
									<div class="p-img">
										<a href="$basePath/${p.tableName}/${p.id}">
											#if($!p.images.size()!=0)
												<img src="$!p.imageUrl" width="220px" height="220px"/>
											#end
										</a>
									</div>
									<!-- 商品名称-->
                                    <div class="p-name">
									<a href="$basePath/${p.tableName}/${p.id}">$p.name</a>
									</div>
									<!-- 价钱-->
									<div class="p-price">
										<strong class="J_price">
											<em>¥</em><i>$!p.price</i>
										</strong>
									</div>
									<!-- 评分-->
									<div class="extra">
                                		<span class="star"><span class="star-white"><span id="star-827069" class="star-yellow h5">&nbsp;</span></span></span>
                                		<a id="comment-827069" target="_blank" href="javascript:void(0)" >已有11961人评价</a>
                                	</div>
									<!-- 该地区有无货物-->
									<div class="stocklist">
                                		<span class="st33">有货
										<b>下单后2-6天发货</b>
										</span>
                                	</div>
									 <!-- 按钮：加入购物车、关注、对比-->
    								 <div class="btns">
                                		<a  class="btn-buy">加入购物车</a>
                                		<a id="coll827069" class="btn-coll">关注</a>
                                		<a class="btn-compare btn-compare-s" id="comp_827069"><span></span>对比</a>
									 </div>
								 </div>
							</li>
							#end
						</ul>
					</div>
                 
               </div>
    		</div>
		</div>
		<!-- 商品列表结束-->
		<!-- 分页-->
		<div class="page clearfix">
			#set($cat="$!request.getParameter('cat')")
			#set($url=$basePath+'/list/'+$!category.code+'?cat='+$cat)
			#pagebar($products.getPaginator(),$url)
        </div>
	</div>
</div>
	
    </div>

</div>
